@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "微軟正黑體"; }

a {
  text-decoration: none; }

.container {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.inputLeft {
  width: calc(100%*4/12);
  background-color: #38470B;
  padding: 5%;
  line-height: 2; }
  @media (max-width: 768px) {
    .inputLeft {
      width: 100%;
      text-align: center; } }
  .inputLeft .form-group {
    width: 100%; }
    .inputLeft .form-group label {
      color: #fff;
      padding: 5px 0; }
    .inputLeft .form-group .info {
      color: #949C7C;
      font-size: 14px;
      padding: 5px;
      border-bottom: 1px solid #949C7C; }
  .inputLeft .bill {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .inputLeft .bill .billText {
      font-size: 14px; }
    .inputLeft .bill .billPrice {
      font-size: 24px;
      font-weight: bold; }
  .inputLeft .btn {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    width: 100%;
    margin-top: 10%; }
    .inputLeft .btn:hover {
      background: #5b7312; }
  .inputLeft .btnInfo {
    color: #949C7C;
    font-size: 10px;
    padding-top: 3%;
    text-align: center; }

.roomInfo {
  width: calc(100%*8/12);
  background-color: #fff;
  padding: 5%;
  position: relative;
  line-height: 1.8; }
  @media (max-width: 768px) {
    .roomInfo {
      width: 100%;
      text-align: left; } }
  .roomInfo .fa-times {
    color: #38470B;
    font-size: 24px;
    position: absolute;
    top: 38px;
    right: 38px;
    display: block;
    cursor: pointer; }
  .roomInfo .roomTitle {
    font-family: Open Sans; }
    @media (max-width: 768px) {
      .roomInfo .roomTitle {
        width: 100%;
        text-align: left; } }
    .roomInfo .roomTitle h3 {
      font-weight: bold;
      font-size: 24px;
      color: #38470B; }
  .roomInfo .roomContent {
    margin-bottom: 1%; }
    @media (max-width: 768px) {
      .roomInfo .roomContent {
        width: 100%;
        text-align: left; } }
    .roomInfo .roomContent p {
      font-size: 14px; }
  .roomInfo .roomIcons {
    margin-bottom: 1%;
    font-family: Noto Sans CJK TC;
    font-size: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #38470B; }
    @media (max-width: 768px) {
      .roomInfo .roomIcons {
        width: 100%;
        text-align: center; } }
    .roomInfo .roomIcons .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 4% 3% 0 3%;
      width: 40px; }
      .roomInfo .roomIcons .icon img {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
      .roomInfo .roomIcons .icon p {
        font-size: 10px;
        color: #38470B;
        padding-top: 5px;
        text-align: center; }
  .roomInfo .roomOrderInfo {
    margin-top: 3%;
    font-family: Open Sans;
    color: #38470B;
    line-height: 2; }
    @media (max-width: 768px) {
      .roomInfo .roomOrderInfo {
        width: 100%;
        text-align: left; } }
    .roomInfo .roomOrderInfo h3 {
      font-weight: bold;
      font-size: 16px; }
    .roomInfo .roomOrderInfo li {
      font-size: 10px; }
      @media (max-width: 768px) {
        .roomInfo .roomOrderInfo li {
          font-size: 14px; } }
  .roomInfo .roomOrderTitle {
    margin-top: 3%;
    font-family: Open Sans;
    color: #38470B;
    line-height: 2; }
    .roomInfo .roomOrderTitle h3 {
      font-weight: bold;
      font-size: 16px;
      color: #38470B; }
  .roomInfo .roomOrderProcess {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3%; }
    @media (max-width: 768px) {
      .roomInfo .roomOrderProcess {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 3%;
        margin-bottom: 3%;
        width: 100%;
        text-align: center; } }
    .roomInfo .roomOrderProcess .box {
      width: 100%;
      height: auto;
      border: 1px solid #949C7C;
      border-radius: 0 0 10px 10px;
      margin-bottom: 10%; }
    .roomInfo .roomOrderProcess .box1,
    .roomInfo .roomOrderProcess .box2,
    .roomInfo .roomOrderProcess .box3 {
      width: 33.33333%;
      margin: 0 3%; }
      @media (max-width: 768px) {
        .roomInfo .roomOrderProcess .box1,
        .roomInfo .roomOrderProcess .box2,
        .roomInfo .roomOrderProcess .box3 {
          width: 100%;
          text-align: center;
          margin-bottom: 5%; } }
    .roomInfo .roomOrderProcess .boxTitle {
      width: 100%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #38470B; }
      .roomInfo .roomOrderProcess .boxTitle img {
        padding: 10px 0 10px 0; }
    .roomInfo .roomOrderProcess .boxContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .roomInfo .roomOrderProcess .boxContent p {
        font-size: 12px;
        color: #949C7C;
        padding: 2% 0;
        text-align: center; }
        @media (max-width: 768px) {
          .roomInfo .roomOrderProcess .boxContent p {
            font-size: 14px; } }
