@import "_boxsizing";
@import "_fontsize";
@import "_media";
@import "_menu-position";


body {
  background: linear-gradient(to left, #333, rgba(#333, 0.6), #333),
    url(../img/house/photo-1507149833265-60c372daea22.jpeg);
  background-repeat: repeat-y;
  //為了讓灰色漸層背景可以直式反覆在 body 內
  background-size: cover;
  font-family: "微軟正黑體";
  //漸層方法:https://developer.mozilla.org/zh-TW/docs/Web/CSS/CSS_Background_and_Borders/Using_CSS_multiple_backgrounds

}

.container {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.info_box {
  width: calc(100%*4/12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @include pad {
    width: 100%;
    text-align: center;
  }

  a {
    margin-bottom: 40%;

    @include pad {
      width: 100%;
      text-align: center;
      margin-bottom: 10%;
    }
  }


  .info {
    color: #fff;
    font-size: 12px;
    text-shadow: 0px 3px 6px #000;

    @include pad {
      width: 100%;
      text-align: center;
    }

    //複製 XD 文件內容
    .title {
      font-weight: regular;
    }

    p {
      font-weight: light;
      line-height: 1;

      @include pad {
        width: 100%;
        text-align: center;
        font-size: 16px;
      }
    }
  }

}

.room_box {
  width: calc(100%*8/12);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;

  @include pad {
    width: 100%;
    text-align: center;
    display: block;
  }


  .room_box_center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;


    .room_1 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room1.jpeg?alt=media&token=e69c7c9f-69bc-41da-975f-da4a024b8912);
    }

    .room_2 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room2.jpeg?alt=media&token=34266662-60e2-4b5e-b2a3-d78d5f683b08);
    }

    .room_3 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room3.jpeg?alt=media&token=2f603188-76b5-44d5-9431-2ea95d4a0601);
    }

    .room_4 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room4.jpeg?alt=media&token=06fe6900-c98a-43a9-b61b-4d2adc921ab8);
    }

    .room_5 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room5.jpeg?alt=media&token=4df74d6f-4549-4983-96d5-6f7ba183269c);
    }

    .room_6 {
      background-image: url(https://firebasestorage.googleapis.com/v0/b/timpicturespace.appspot.com/o/room6.jpeg?alt=media&token=e416759b-dc76-4360-b23f-d1c0ccf2daf4);
    }

    // 將圖片設定成 background-image 

    .room_1,
    .room_2,
    .room_3,
    .room_4,
    .room_5,
    .room_6 {

      width: 275px;
      height: 275px;
      text-align: center;
      line-height: 275px;
      background-size: cover;
      background-position: center center;

      @include pad {
        width: 100%;
        text-align: center;
        display: block;
      }

      a {
        display: block;
        // 將 a 連結的屬性改變成 block，讓寬跟高都自適應 100%
        width: 100%;
        height: 100%;
        color: transparent;

        &:hover {
          color: #fff;
          background-color: rgba(55, 70, 11, 0.6);
          text-decoration: none;

        }

      }
    }

  }



}