@import "_reset";
@import "_boxsizing";
@import "_fontsize";
@import "_media";
@import "_menu-position";


body {
  font-family: "微軟正黑體";

}

$primary-color:#38470B;

a {
  text-decoration: none;
}

// layout
.container {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

}

.inputLeft {
  width: calc(100%*4/12);
  background-color: $primary-color;
  padding: 5%;
  line-height: 2;

  @include pad {
    width: 100%;
    text-align: center;
  }

  .form-group {
    width: 100%;

    label {
      color: #fff;
      padding: 5px 0;
    }

    .info {
      color: #949C7C;
      font-size: 14px;
      padding: 5px;
      border-bottom: 1px solid #949C7C;
    }
  }

  .bill {
    color: #fff;
    display: flex;
    justify-content: flex-end;

    .billText {
      font-size: 14px;

    }

    .billPrice {
      font-size: 24px;
      font-weight: bold;
    }

  }

  .btn {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    width: 100%;
    margin-top: 10%;

    &:hover {
      background: lighten($primary-color, 10%) // 顏色變淺的語法
    }
  }

  .btnInfo {
    color: #949C7C;
    font-size: 10px;
    padding-top: 3%;
    text-align: center;

  }


}

.roomInfo {
  width: calc(100%*8/12);
  background-color: #fff;
  padding: 5%;
  position: relative;
  line-height: 1.8;

  @include pad {
    width: 100%;
    text-align: left;
  }

  .fa-times {
    color: $primary-color;
    font-size: 24px;
    position: absolute;
    top: 38px;
    right: 38px;
    display: block;
    cursor: pointer;

  }

  .roomTitle {
    font-family: Open Sans;

    @include pad {
      width: 100%;
      text-align: left;
    }

    h3 {
      font-weight: bold;
      font-size: 24px;
      color: $primary-color;
    }

  }

  .roomContent {
    margin-bottom: 1%;

    @include pad {
      width: 100%;
      text-align: left;
    }

    p {
      font-size: 14px;
    }
  }

  .roomIcons {
    margin-bottom: 1%;
    font-family: Noto Sans CJK TC;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    color: $primary-color;

    @include pad {
      width: 100%;
      text-align: center;
    }

    .icon {
      display: flex;
      flex-direction: column;
      // 垂直排列
      margin: 4% 3% 0 3%;
      width: 40px;
      // 設定固定寬度，讓 icon 不會因為內容寬度不同而有不同寬度。


      img {
        flex: auto;
      }

      p {
        font-size: 10px;
        color: $primary-color;
        padding-top: 5px;
        text-align: center;
      }
    }
  }

  .roomOrderInfo {
    margin-top: 3%;
    font-family: Open Sans;
    color: $primary-color;
    line-height: 2;

    @include pad {
      width: 100%;
      text-align: left;
    }

    h3 {
      font-weight: bold;
      font-size: 16px;
    }

    li {
      font-size: 10px;

      @include pad {
        font-size: 14px;
      }
    }

  }

  .roomOrderTitle {
    margin-top: 3%;
    font-family: Open Sans;
    color: $primary-color;
    line-height: 2;

    h3 {
      font-weight: bold;
      font-size: 16px;
      color: $primary-color;
    }
  }

  .roomOrderProcess {
    display: flex;
    margin-top: 3%;

    @include pad {
      display: flex;
      flex-wrap: wrap;
      margin-top: 3%;
      margin-bottom: 3%;
      width: 100%;
      text-align: center;
    }

    .box {
      width: 100%;
      height: auto;
      border: 1px solid #949C7C;
      border-radius: 0 0 10px 10px;
      margin-bottom: 10%;
    }

    .box1,
    .box2,
    .box3 {
      width: 33.33333%;
      margin: 0 3%;

      @include pad {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
      }
    }



    .boxTitle {
      width: 100%;
      height: auto;
      //使用 flex 特性讓 img 在框框裡水平與垂直對齊
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;

      img {
        padding: 10px 0 10px 0;
      }
    }

    .boxContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      //使用 flex 特性讓文字在框框裡水平與垂直對齊
      p {
        font-size: 12px;
        color: #949C7C;
        padding: 2% 0;
        text-align: center;

        @include pad {
          font-size: 14px;
        }
      }
    }
  }
}